/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Poppins:wght@400;700&display=swap');

/* Common Css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 100%;
}

/* Banner start */
section.banner {
    background: rgba(22, 22, 22, 1);
    border-radius: 20px;
    margin: 40px 60px 0px 60px;

}

.banner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;
    gap: 30px 100px;
}

.banner-box {
    width: 50%;
    position: relative;
    animation: slidInfromLeft 1s ease;
}

.banner-img {
    width: 50%;
    height: auto;
    padding-top: 70px;
    margin-bottom: -5px;
    animation: slidInfromLeft 1s ease;
}

.banner-box h1 {
    font-size: 60px;
    color: white;
}

.banner-box p {
    color: white;
    margin: 20px 0px;
}

.banner-box a {

    text-decoration: none;
    color: white;
    background: rgb(44, 150, 44);
    padding: 16px 25px;
    border-radius: 4px;
    display: inline-block;
    transition: 0.5s;
}

.banner-box a:hover {
    text-decoration: none;
    color: white;
    background: rgb(57, 164, 57);
    padding: 16px 25px;
    border-radius: 4px;
    display: inline-block;

}

.banner-box a:hover i {
    transform: translateX(5px);
    transition: .5s;
    margin-left: 10px;
}

.banner-img img {
    width: 90%;
    height: 70vh;
}

/* Banner end */

/* Blog start */

aside {
    width: 30%;
    height: max-content;
    padding: 32px 16px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 18px;
    border-radius: 10px;
}

section.blog {
    padding: 100px 80px;
}

article {
    display: flex;
    justify-content: center;
    gap: 0px 25px;
}

aside a {
    text-decoration: none;
    padding: 15px 20px;
    background: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    width: 70%;
    text-align: center;
}

aside a:hover {
    text-decoration: none;
    padding: 15px 20px;
    background: rgb(57, 164, 57);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    width: 70%;
    text-align: center;
}

a.blog-own {
    background: rgb(57, 164, 57);
    color: white;
}

.blog-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
}

.blog-box {
    border: 1px solid #ddd;
    border-radius: 15px;
}

.blog-img img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.blog-description {
    padding: 15px;

}

.blog-description button {
    background: none;
    padding: 3px 15px;
    border: 2px solid #3e3d3d;
    border-radius: 5px;
    font-weight: 600;
    margin: 10px 0px;
}

.blog-description h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

span.time {
    margin-right: 20px;
}

/* Blog end */


/* Index-Match start */

a.blog-match {
    background: rgb(44, 150, 44);
    color: white;
}

.blog-match-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
    align-items: center;
    justify-content: center;
}

.blog-match-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
}

.blog-match-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.blog-match-img span {
    font-weight: 800;
}

.blog-match-img img {
    width: 100%;
}

.blog-match-description {
    text-align: center;
    margin: 12px 0px;

}

.blog-match-description h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;

}

/* Match end */


/* Tablet view button */

.tablet-view {
    text-align: center;
    margin-top: 40px;
    display: none;

}

.view {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 10px 23px;
    border-radius: 5px;
    background: rgb(57, 164, 57);
    display: inline-block;
}

/* tablet view button done */


/* Footer start */

footer {
    background: #222020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 5px 0px 0px;
}

.footer {
    text-align: center;
}

.footer h1 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}

.footer-description {
    text-align: center;
    margin-top: 30px;
}

.icon {
    text-align: center;
    margin-top: -10px;
}

.footer-description a {
    color: #bdb4b4;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 500;
}

a.social {
    background: #22213C;
    padding: 8px;
    display: inline-grid;
    border-radius: 55px;
    font-size: 25px;
    width: 32px;
    height: 32px;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 10px 10px;
    transition: .6s;
}

a.social:hover {
    transform: translateY(10px);
    transition: .5s;
}

/* Footer end */

/* Responsive tablet view */

@media(max-width:768px) {
    .container {
        width: 100%;
    }

    main {
        margin: 0px 2%;
    }

    .banner-flex {
        padding: 40px;
    }

    .banner-box h1 {
        font-size: 35px;
    }

    .banner-box p {
        font-size: 12px;
    }

    .banner-box img {
        height: 50vh;

    }

    .banner-img img {

        margin: 0px 0px -20px 0px;
    }

    .banner-box a {

        padding: 10px 20px;
        border-radius: 4px;
        display: inline-block;
        font-size: 18px;
    }

    aside {
        width: 100%;
        text-align: center;
        background: transparent;
        flex-direction: row;
        gap: 10px;
    }

    article {
        flex-direction: column;
        align-items: center;
    }

    section.blog {
        padding: 60px 60px;
    }

    aside a {
        border: 2px solid #ddd;
    }

    .blog-flex {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-box:last-child {
        display: none;
    }

    .tablet-view {
        display: block;
    }

    .footer-description a {
        padding: 30px;
        display: inline-block;
    }

    .blog-match-flex {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive tablet view ends */

/* Responsive mobile view */

@media(max-width:576px) {
    main {
        margin: 0px 4%;
    }

    .banner-flex {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .banner-box {
        width: 100%;
    }

    .banner-box h1 {
        font-size: 33px;
        margin-top: 20px;
    }

    .banner-box p {
        font-size: 20px;
        padding: 7px;
        color: #ddd;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .banner-box img {
        height: 100%;
        padding-top: -70px;
    }

    .banner-img img {
        height: 200px;
        width: 210px;
        margin-top: -60px;

    }

    aside {
        flex-direction: column;
    }

    aside a {
        font-size: 20px;
    }

    .blog-flex {
        grid-template-columns: repeat(1, 1fr);
    }

    .tablet-view {
        display: none;
    }

    .footer-description a {
        display: block;
    }

    .icon {
        flex-direction: row;
    }

    .blog-match-flex {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Responsive mobile view ends */